@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #777; }
  body a:link, body a:visited, body a:focus, body a:hover, body a:active {
    color: #fff;
    text-decoration: none; }

.navBar {
  display: flex;
  text-decoration: none;
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 400;
  background-image: linear-gradient(to right, #969696, #1c1c1c);
  color: #fff;
  letter-spacing: .2rem;
  height: 100%; }
  .navBar .nav-logo {
    padding-left: 1rem;
    padding-top: 1rem; }
  .navBar .nav {
    float: right;
    font-size: 2rem;
    margin-left: auto; }
    .navBar .nav .item {
      display: inline-block;
      padding: 2rem;
      padding-bottom: 5rem;
      height: 5rem; }
      .navBar .nav .item:hover {
        background-color: #4a4a4a; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(150, 150, 150, 0.8), rgba(28, 28, 28, 0.8)), url(../img/macbook.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.fundamentals-image {
  background-repeat: no-repeat;
  display: block;
  width: 100%; }
